body {
    padding: 10px;
}

h1.logo {
    text-align: center;
}

form div {
    margin-bottom: 5%;
}

.form-check.form-switch .form-check-input.danger:checked {
    background-color: #dc3545;
    border-color: #dc3545;
}